.weather_container {
  width: 320px;
  margin: 30px auto;
  text-align: center;
  font-weight: 100;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 7px 4px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 4px 11px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 4px 11px -3px rgba(0, 0, 0, 0.75);
}

.weather_container p,
.weather_container h1 {
  font-weight: 100;
}
